<ilw-footer slot='footer'>
  <a slot="primary-unit" href="https://www.library.illinois.edu/ask-us/">Ask a Librarian!</a>

  <a slot="site-name" href="https://www.library.illinois.edu">University Library</a>
  <address slot="address">
    <div>1408 W. Gregory Dr.</div>
    <div>Urbana, IL 61801</div>
    <div>Phone: <a href="tel:2173332290">(217) 333-2290</a></div>
  </address>

  <div slot="actions">
    <a href="https://payment.giving.illinois.edu/campaigns/49284/donations/new">Give</a>
  </div>
  <nav slot="social" aria-label="Social media">
    <ul>
      <li><a data-service="facebook" href="https://www.facebook.com/uillinoislibrary">Facebook</a></li>
      <li><a data-service="instagram" href="https://www.instagram.com/uillinoislibrary">Instagram</a></li>
      <li><a data-service="x" href="https://x.com/IllinoisLibrary">Twitter</a></li>
      <li><a data-service="tiktok" href="https://www.tiktok.com/@uillinoislibrary">TikTok</a></li>
      <li><a data-service="reddit" href="https://www.reddit.com/user/UIllinoisLibrary">Reddit</a></li>
    </ul>
  </nav>

  <ilw-columns>
    <ilw-content theme="gray">
      <p class="ilw-heading">Library Resources:</p>
      <ul>
        <li><a href="https://guides.library.illinois.edu/usersdisabilities">Assistive Technology and Services</a></li>
        <li><a href="https://www.library.illinois.edu/geninfo/deia/">Diversity, Equity, Inclusion, &amp; Accessibility</a></li>
        <li><a href="https://www.library.illinois.edu/collections/sensitive-content-statement/">Sensitive Content Statement</a></li>
        <li><a href="https://www.library.illinois.edu/staff/">Library Staff Website</a></li>
      </ul>
    </ilw-content>
    <ilw-content theme="gray">
      <p class="ilw-heading">Get Involved:</p>
      <ul>
        <li><a href="https://www.library.illinois.edu/friends/make-a-gift/">Make a Gift</a></li>
        <li><a href="https://forms.illinois.edu/sec/887006">Suggest a Purchase</a></li>
        <li><a style="display:block; margin-top:15px;" href="https://www.library.illinois.edu/doc/"><%= image_tag "fdlp-logo.svg", width: "100", alt: "Federal Library Depository Program Logo" %></a></li>
      </ul>
    </ilw-content>
  </ilw-columns>
</ilw-footer>
