<ilw-header slot="header">
  <%= top_bar %>
  <%= masthead %>
</ilw-header>
<div class="libit-search-banner">
  <ilw-content width="page"> 
    <div class="libit-search-bar">
      <%= search_bar %>
    </div>
  </ilw-content>
</div>
