<a slot="primary-unit" href="https://www.library.illinois.edu">University Library</a>
<%= heading %>
<ilw-header-menu slot="navigation">
  <ul>
    <%= render 'shared/main_menu_links' %>
  </ul>
</ilw-header-menu>

